*{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

body{
    background-color: rgb(0, 0, 0);
}

#title-card{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

#board{
    margin: auto;
    height: 460px;
    width: 460px;
    display: grid;
    gap: 5px;
    background-color: rgb(255, 255, 255);
}

.board-row{
    display: grid;
    gap: 5px;
}

.board-square{
    height: 150px;
    width: 150px;
    background-color: rgb(0, 0, 0);
    display: inline-grid;
    grid-row-start: 1;
}

.board-text{
    font-size: 200px;
    font-family: 'monospace', Arial, sans-serif;
    height: auto;
    width: auto
}

.⚬{
    translate: 11% -36%;
    font-size: 250px;
}

.×{
    translate: 11% -16%;
}

#score-card{
    display: flex;
    margin: auto;
    width: 400px;
}

#player-score, #tie-score, #computer-score{
    flex: 1;
    text-align: center;
}