*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: aliceblue;
}

#title-card{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

#board{
    margin: auto;
    height: 460px;
    width: 460px;
    display: grid;
    gap: 5px;
    background-color: black;
}

.board-row{
    display: grid;
    gap: 5px;
}

.board-square{
    height: 150px;
    width: 150px;
    background-color: aliceblue;
    display: inline-grid;
    grid-row-start: 1;
}

.board-text{
    font-size: 200px;
    font-family: 'monospace', Arial, sans-serif;
    height: auto;
    width: auto
}

.o{
    translate: 14% -24%;
}

.x{
    translate: 16% -24%;
}

#score-card{
    display: flex;
    margin: auto;
    width: 400px;
}

#player-score, #tie-score, #computer-score{
    flex: 1;
    text-align: center;
}